Here are the answers to your questions:  

1. **What are data structures, and why are they important?**  
   - Data structures are ways of organizing and storing data efficiently. They are important because they allow efficient access, manipulation, and storage of data, optimizing performance for various operations. Examples include lists, tuples, dictionaries, sets, and more.

2. **Explain the difference between mutable and immutable data types with examples.**  
   - Mutable data types can be changed after creation (e.g., lists, dictionaries, sets).  
   - Immutable data types cannot be modified once created (e.g., tuples, strings, integers).  
   - Example:  
     ```python
     my_list = [1, 2, 3]  # Mutable
     my_list.append(4)  # Modifies the list

     my_tuple = (1, 2, 3)  # Immutable
     my_tuple[0] = 10  # Error: Tuples cannot be changed
     ```

3. **What are the main differences between lists and tuples in Python?**  
   - **Lists**: Mutable, slower, use more memory, can be modified.  
   - **Tuples**: Immutable, faster, use less memory, cannot be modified.

4. **Describe how dictionaries store data.**  
   - Dictionaries store data as key-value pairs using a hash table. Each key is hashed to determine its storage location, ensuring fast lookup times.

5. **Why might you use a set instead of a list in Python?**  
   - Sets are useful when uniqueness is required since they do not allow duplicate values. They also provide faster lookups compared to lists.

6. **What is a string in Python, and how is it different from a list?**  
   - A string is an immutable sequence of characters, while a list is a mutable sequence of elements. Strings cannot be modified in place, whereas lists can.

7. **How do tuples ensure data integrity in Python?**  
   - Tuples are immutable, meaning their contents cannot be changed after creation, preventing accidental modifications and ensuring data consistency.

8. **What is a hash table, and how does it relate to dictionaries in Python?**  
   - A hash table is a data structure that maps keys to values using a hashing function. Python dictionaries use hash tables to enable fast lookups.

9. **Can lists contain different data types in Python?**  
   - Yes, Python lists can store elements of different data types.  
   
10. **Explain why strings are immutable in Python.**  
    - Strings are immutable to enhance performance, security, and consistency. Immutable objects allow safe sharing across multiple parts of a program.

11. **What advantages do dictionaries offer over lists for certain tasks?**  
    - Dictionaries provide faster lookups (O(1) on average) using keys, while lists require O(n) time for searching.

12. **Describe a scenario where using a tuple would be preferable over a list.**  
    - When storing constant data like coordinates (latitude, longitude) or database records that should not change.

13. **How do sets handle duplicate values in Python?**  
    - Sets automatically remove duplicate values and only store unique elements.

14. **How does the “in” keyword work differently for lists and dictionaries?**  
    - For lists, `in` checks if a value exists and requires O(n) time.  
    - For dictionaries, `in` checks if a key exists and requires O(1) time.

15. **Can you modify the elements of a tuple? Explain why or why not.**  
    - No, tuples are immutable. You cannot change, add, or remove elements after creation.

16. **What is a nested dictionary, and give an example of its use case?**  
    - A nested dictionary is a dictionary containing another dictionary.
    - Useful for storing structured data like JSON.

17. **Describe the time complexity of accessing elements in a dictionary.**  
    - Dictionary lookups have an average time complexity of O(1) due to hash table implementation.

18. **In what situations are lists preferred over dictionaries?**  
    - When order matters or when storing sequential data that does not require key-value pairs.

19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
    - Dictionaries were unordered before Python 3.7. Now, they maintain insertion order but are still optimized for fast lookups rather than sequential access.

20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
    - Lists retrieve elements by index (O(1) time), whereas dictionaries retrieve values by key (O(1) time but optimized for lookup efficiency).

In [ ]:
# 1. Write a code to create a string with your name and print it.
name = "Khushi Arora"
print(name)

Khushi Arora

In [ ]:
#2. Write a code to find the length of the string "Hello World".
string_length = len("Hello World")
print(string_length)

11

In [ ]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
sliced_string = "Python Programming"[:3]
print(sliced_string)

Pyt

In [ ]:
#4. Write a code to convert the string "hello" to uppercase.
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [ ]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
new_string = "I like apple".replace("apple", "orange")
print(new_string)

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
num_list = [1, 2, 3, 4, 5]
print(num_list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
num_list2 = [1, 2, 3, 4]
num_list2.append(10)
print(num_list2)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
num_list3 = [1, 2, 3, 4, 5]
num_list3.remove(3)
print(num_list3)

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
rev_list = [10, 20, 30, 40, 50]
rev_list.reverse()
print(rev_list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
num_tuple = (100, 200, 300)
print(num_tuple)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
color_tuple = ('red', 'green', 'blue', 'yellow')
print(color_tuple[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num_tuple2 = (10, 20, 5, 15)
print(min(num_tuple2))

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal_tuple = ('dog', 'cat', 'rabbit')
print(animal_tuple.index('cat'))

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_tuple = ('apple', 'banana', 'kiwi')
print("kiwi" in fruit_tuple)

True

In [ ]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
char_set = {'a', 'b', 'c'}
print(char_set)

{'c', 'a', 'b'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num_set = {1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num_set2 = {1, 2, 3, 4}
num_set2.remove(4)
print(num_set2)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print i
person_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(person_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {'a': 100, 'b': 200, 'c': 300}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'a': 100, 'b': 200, 'c': 300}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random

random_list = random.sample(range(1, 101), 5)
random_list.sort()

print(random_list)

[13, 17, 46, 58, 88]

In [ ]:
#28.Write a code to create a list with strings and print the element at the third index.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(string_list[3])

date

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'New York', 'country': 'USA'}

combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [ ]:
#30.Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)

print(string_set)

{'cherry', 'banana', 'apple'}